.prepare {
  width: 33%;
  float: left;
  height: 500px;
}

.prepare__part {
  width: 50%;
  margin: auto;
  height: 100%;
}

.prepare__header {
  height: 10%;
  width: 100%;
  background-color: lightpink;
  text-align: center;
  margin-top: 4px;
  border: 1px black;
  padding-top: 13px;
  box-sizing: border-box;
}

.prepare__bottom {
  margin-top: 10px;
  width: 100%;
  height: 80%;
  background-color: lightpink;
  border: 1px black;
}

